.scalloped {
    background-color: #222534;
    height: 70px;
  }
  
.CiForkAndKnife {
    font-weight: 500;
    font-weight: bold;
  }
  .home {
    text-decoration: none;
    color: white !important;
    font: bold;
    margin: 7px;
    font-weight: 500;
  }
  .home:hover {
    color: #feaf39 !important;
    text-decoration: underline;
  }
  #page-dropdown{
      text-decoration: none;
      color: white;
      font: bold;
      font-weight: 500;
  }
  #page-dropdown:hover {
    color: #feaf39;
    text-decoration: underline;
  }
  .booking:hover {
    background-color: #feaf39;
  }
  .navbar-nav {
    gap: 1px;
  }
  .Nav {
    display: flex;
    justify-content: end;
  }
  .Kider {
    font-size: 40px;
    color: #feaf39;
    font-weight: 700;
    font-family: 'Lobster', cursive;
  
  }
  .Kider:hover {
    color: #feaf39;
    /* text-decoration: underline; */
  }
  /* General Button Styling */
  .wat {
    background-color: #f5f5f5;
    padding: 5px 15px;
    font-size: 15px;
  }
  .btn-primary {
    background-color: #feaf39;
    border: none;
    border-radius: 0;
  }
  .btn-primary:hover {
    background-color: gold;
    border: none;
    /* border-radius: 20px; */
  }
    
  @media screen and (max-width: 600px) {
      /* For screens smaller than 600px */
      .vec {
          height: 50px;
          border-bottom: none;
      }
      .Nav {
        justify-content: left;
      }
      .navbar-nav {
        gap: 0px;
      }
      .btn-primary {
        width: 100%;
      }
      .scalloped {
        height: 100%;
      }
      .Toggle {
        border: 1px solid white;
        background-color: gold;
      }
      #page-dropdown {
        margin-left: 10px;
      }
  }
  
  